/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --theme-color: #3c91e6;
    --container: 142rem;
    --primary: #3056d3;
    --text-dark: #212b36;
    --light-dark: #637381;
    --box-shadow: 0 3.9rem 2.3rem -2.7rem rgba(0, 0, 0, 0.04);
    --box-border: rgba(48, 86, 211, 0.09);
    --btn-border: #acaeb2;
    --devider: 0.1rem solid #f2f2f2;
    --transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    --text-dark: #212b36;
    --light-dark: #637381;
    --box-shadow: 0 3.9rem 2.3rem -2.7rem rgba(0, 0, 0, 0.04);
    --box-border: rgba(48, 86, 211, 0.09);
    --btn-border: #9aa4c8;
    --devider: 0.1rem solid #a49494;
    --transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

/* HEADER */

.header {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
  padding-top: 7px;
  padding-bottom: 5px;
  box-shadow: 0 0 6px 3px #eeeeee77;

}

.header .logo {
  font-weight: bolder;
  color: var(--theme-color);
  font-size: 2.5rem;
}

.header .logo span {
  color: var(--text-dark);
}


.header .navbar  {
  list-style: none;
  font-size: 1.7rem;
  color: var(--text-dark);
  height: 100%;
  display: flex;
  align-items: center;
}

.header .navbar li {
  display: inline-block;
  position: relative;
  margin-left: 2rem;
}


.header .navbar li a {
  display: block;
  text-decoration: none;
  color: var(--text-dark);
  text-align: center;
  padding: 5px;
}
.header .navbar li a i{
  color: var(--text-dark);
}

ul li ul.dropdown {
  width: 100%;
  background: none;
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 999;
}


ul li:hover ul.dropdown {
  width: 170px;
  display: block;
  opacity: 100%;
  background-color: #ffffff;
  list-style: none;
}

ul li:hover ul.dropdown li {
  display: flex;
  justify-content: left;
  margin-left: 0px;
  padding: 7px 0px 5px 3px;
}

.signin-link a{
  margin-left: 70px;
  border: 1px solid var(--text-dark);
  border-radius: 20px;
  padding: 5px;
  font-size: 12px;
  font-weight: 700;
}

li a i {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;

} 

.my-account {
  padding-left: 100px;
}

.header .navbar a:hover, .header .navbar a:hover  {
  color: var(--theme-color);
  border-color: var(--theme-color);
}

#menu-bars {
  font-size: 3rem;
  color: var(--theme-color);
  cursor: pointer;
  display: none;
} 

/* HEADER */


/* SLIDER */

.slider {
  margin-top: 70px;
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-color: #3c91e6;
  background-size: cover;
}

.slides {
  position:  relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: 100%;

}
.slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;

}

.slide img {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  background-size: cover;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 10px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

.prev i, .next  i {
  font-size: 65px;
  color: #e5e2e2;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev i:hover, .next  i:hover {
  color: aliceblue;
  font-size: 70px;
}
/* SLIDER */



/* GESTIONNAIRE INFO */

.detail-gest {
  width: 95%;
  background-color: #44444412;
  padding: 1px;
  margin: 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  align-self: center;
  border: #003af90d solid 1px;
}

.detail-gest form, .detail-gest .description {
  background-color: #fff;
  padding: 10px;
}

.detail-gest form {
  /* margin-right: 10px; */
  display: grid;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  /* border-right: 1.5px solid #eee */
}
/* .detail-gest .description {
  margin-left: 10px;
} */

.detail-gest form .title {
  text-align: center;
  color: var(--theme-color);
  /* border-bottom: 2px solid var(--theme-color); */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.1cm;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px ;
  margin-bottom: 10px;
}

.detail-gest form .title i {
  padding-right: 10px;
}

.detail-gest form .other-info {
  background-color: #f2f0f000;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;

}
.detail-gest form .other-info .info {
  background-color: white;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
}

.detail-gest form .other-info .info i {
  padding: 5px;
  margin-right: 10px;
  color: var(--theme-color);
  font-size: 18px;
  background-color: #3c91e625;
  border-radius: 50%;
}

.detail-gest form .other-info .phone {
  margin-top: 10px;
  color: green;
  font-weight: 800;
  width: fit-content;
}

.detail-gest .description .text {
  border:1.5px solid #eee;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 15px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 50px;
  background-color: #6373810a;
}


.detail-gest .description .contacter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 20px;
  border-radius: 10px;
  padding: 7px;
  background: rgba(7, 197, 7, 0.287);
  color: rgb(1, 137, 1);
  cursor: pointer;
}

.detail-gest .description .contacter-btn:hover {
  background: rgba(0, 255, 0, 0.415);

}

.detail-gest .description .contacter-btn input {
  background-color: none;
  background: none;
  color: green;
  font-weight: 600;
  cursor: pointer;
}


.detail-gest .description .contacter-btn i {
  font-size: 16px;
  padding-left: 4px;
} 

.detail-gest .description p {
  margin-top: 10px;
  font-size: 12px;
  color: orangered;
  font-weight: 600;
  animation: colorChange 2s infinite;
}
@keyframes colorChange {
  0% { color: red; }
  50% { color: orange; }
  100% { color: red; }
}

/* FOOTER */

.footer {
  background: #fff;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: var(--text-dark);
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: var(--text-dark);
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--theme-color);
}

.footer .box-container .box a:hover i {
  padding-right: 1.5rem;
  color: var(--primary);
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid var(--primary);
  color: var(--text-dark);
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}

.footer .credit span {
  color: var(--theme-color);
}
.footer .credit span img{
  background-color: var(--theme-color);
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #444;
}

html::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 5rem;
}


@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}

/* FOOTER */